.headerStyles {
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--dark-main-1);
  color: var(--light-main-1);
}




.cart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--dark-main-1);
  color: var(--light-main-1);
  height: 3rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.cart:hover {
  background-color: var(--dark-main-2);
}


.cart span:nth-child(3) {
  border-radius: 50%;
  background-color: var(--support-dark-1);
  padding: 0.4rem 0.5rem 0.5rem 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.cartDropdown {
  position: absolute;
  top: 3rem;
  right: 0rem;
  background-color: var(--light-main-1);
  border: 5px double var(--black);
  color: var(--black);
  width: 20rem;
}

.itemRow {
  display: grid;
  grid-template-columns: 1fr 2rem 5rem;
  padding: 4px;
  align-items: center;
  font-size: 1.2rem;
  gap: 4px
}