.contactPage {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.contactBody {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;

}

.forCustomers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.infoAndSchedule {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}