.mainNavbar {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 70%;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  height: 3rem;
  gap: 0.5rem;
}

@media screen and (max-width: 450px) {
  .mainNavbar {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 1rem;
  }
}

.mainNavbar>* {
  text-align: center;
}

.mainNavbar a,
.linkPlaceholder {
  flex: 1 1 auto;
  margin: 0;
  padding-top: 0.6rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
}

.linkPlaceholder:hover,
.mainNavbar a:hover {
  background-color: var(--dark-main-2);
}

.hoverTabHidden {
  position: absolute;
  right: 0;

  background-color: var(--support-dark-1);
  top: 3rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  text-align: left;
  padding-bottom: 12px;
  z-index: 99999;
  transform: translateX(-12px);
  transition: all 0.15s;
  opacity: 0;
  pointer-events: none;
}


.hoverTabVisible {
  position: absolute;
  background-color: var(--support-dark-1);
  top: 3rem;
  right: 0;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  text-align: left;
  z-index: 99999;
  font-size: 1.25rem;
  transform: translateX(0);
  transition: all 0.15s;
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}


.hoverTabVisible a {
  font-size: 1.25rem;
  padding-left: 12px;
  width: 100%;
}

.hoverTabVisible a:hover {
  background-color: var(--support-dark-2);
}

.myModule {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

@media screen and (max-width: 550px) {

  .mainNavbar {
    font-size: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    flex: 1 1 auto;

  }



  .mainNavbar a,
  .linkPlaceholder {
    padding-top: 0.8rem;
    flex: 1 1 auto;
    cursor: pointer;
  }

}