.accountControlDiv {
  position: relative;
  z-index: 5;
}

.accountControlDiv img {
  cursor: pointer;
}

.dropdownDiv {
  position: absolute;
  background-color: var(--dark-main-1);
  border: 3px double var(--light-main-1);
  right: 0;
  min-width: 16rem;
  box-shadow: 0 3px 3px 3px black;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.signupDiv {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupDiv button {
  width: 50%;
  margin-top: 0.5rem;
}

.signupRow {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 4px 8px;
}

@media screen and (max-width: 600px) {
  .accountControlDiv {
    position: relative;
    left: 1rem;
    top: 4px;
    z-index: 5;
    display: inline-block;
    height: 38px;
  }

  .accountControlDiv img {
    height: 38px;

  }


}