.aboutUsSection {
  position: relative;
}

.bgImage {
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

@media screen and (min-width: 700px) {

  .twoWords {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    position: relative;
    height: 100vh;
  }



  .profile {
    position: absolute;
    top: 5vh;
    left: 5vw;
    right: 50vw;
    text-align: justify
  }

  .ourMission {
    position: absolute;
    top: 60vh;
    left: 45vw;
    right: 5vw;
    text-align: justify
  }
}

.twoWords {
  display: block;
}

.profile {
  display: block;
}

.ourMission {
  display: block
}


.smallBio,
.someWords {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.smallBio {
  max-width: 400px;

  margin: auto;
}


.beekeeperImage {
  border-radius: 50%;
  margin: auto;

}