.shopComponent {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 1rem;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
  position: relative;
}





.ProductGallerySection {
  width: 100%;
}

.searchImage {
  position: fixed;
  cursor: pointer;
  margin: 4px;
  z-index: 10;
  background-color: var(--dark-main-1);
  border-radius: 50%;
  top: 0.5rem;
}

.searchImage:hover {
  scale: 1.1;
}