.shopComponent {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
}





.ProductGallerySection {
  width: 100%;
}

.searchImage {
  position: absolute;
  cursor: pointer;
  margin: 4px;
  z-index: 15;
}

.searchImage:hover {
  scale: 1.1;
}