.shopComponent {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px - 1rem);
  gap: 1rem;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  align-items: start;
}

.sidebarSection {
  width: clamp(150px, 15%, 200px);
}

.ProductGallerySection {
  width: 100%
}